<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/aop
           				http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/mvc  
    					http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">


	<!-- 导入其他配置文件 -->

	<!-- properties文件加载器 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/jdbc.properties</value>
				<value>/WEB-INF/weixin.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.c3p0.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.c3p0.url}" />
		<property name="user" value="${jdbc.c3p0.user}" />
		<property name="password" value="${jdbc.c3p0.password}" />
	</bean>
	<!-- <bean id="weixin" class="com.jxy.common.pojo.Weixin"> 
		<property name="token" value="${weixin.token}"/> 
		<property name="appid" value="${weixin.appid}"/> 
		<property name="secret" value="${weixin.secret}"/> 
		<property name="site" value="${weixin.site}"/> 
		<property name="welcomeMsg" value="${weixin.welcome_msg}"/> 
	</bean> -->
	<bean id="weixin1" class="com.zpt.shop.common.weixin.WxMpConfigStorage">
        <property name="appId" value="${weixin.appid}"/>
        <property name="secret" value="${weixin.secret}"/>
        <property name="token" value="${weixin.token}"/>
        <property name="website" value="${weixin.site}"/> 
        <property name="partnerId" value="${weixin.partnerId}"/>
        <property name="partnerKey" value="${weixin.partnerKey}"/>
        <property name="expiresTime" value="${weixin.expiresTime}"/>
        <property name="ip" value="${weixin.ip}"/>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="WEB-INF/mybatis.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath:com/zpt/shop/main/mapper/xml/*.xml</value>
			</list>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zpt.shop.main.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
	<tx:annotation-driven transaction-manager="txManager" />

	<context:component-scan base-package="com.zpt.shop.main.service" />
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
	    <tx:attributes>
	      <tx:method name="save*" propagation="REQUIRED"/>
	      <tx:method name="del*" propagation="REQUIRED"/>
	      <tx:method name="update*" propagation="REQUIRED"/>
	      <tx:method name="add*" propagation="REQUIRED"/>
	      <tx:method name="find*" propagation="REQUIRED"/>
	      <tx:method name="get*" propagation="REQUIRED"/>
	      <tx:method name="apply*" propagation="REQUIRED"/>
	    </tx:attributes>
	</tx:advice>
	<!--  配置参与事务的类 -->
	<aop:config>
		<aop:pointcut id="allServiceMethod" expression="execution(* com.zpt.shop.main.service.*.*(..))"/>
		<aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice" />
	</aop:config>
	
	<!-- <context:component-scan base-package="com.xx.main"> <context:exclude-filter 
		type="annotation" expression="org.springframework.stereotype.Controller" 
		/> </context:component-scan> -->
</beans>