<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 配置实体类别名 -->
	<typeAliases>
 		<typeAlias type="com.zpt.shop.main.entities.User" alias="user"/>
 		<typeAlias type="com.zpt.shop.main.entities.Supplier" alias="supplier"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Brand" alias="brand"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Goods" alias="goods"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.GoodsType" alias="goodstype"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Sku" alias="sku"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Pro" alias="pro"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.AdminUser" alias="adminUser"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.AdminUserMsg" alias="adminUserMsg"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Stock" alias="stock"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Order" alias="order"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.OrderDetail" alias="orderDetail"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.ProVal" alias="proVal"/> 	
 		<typeAlias type="com.zpt.shop.main.entities.Cart" alias="cart"/> 
 		<typeAlias type="com.zpt.shop.main.entities.Image" alias="image"/> 
 		<typeAlias type="com.zpt.shop.main.entities.Withdraw" alias="withdraw"/>
 		<typeAlias type="com.zpt.shop.main.entities.System" alias="system"/>
 		<typeAlias type="com.zpt.shop.main.entities.Banner" alias="banner"/>
 		<typeAlias type="com.zpt.shop.main.entities.Reply" alias="reply"/>
 		<typeAlias type="com.zpt.shop.main.entities.Statistics" alias="statistics"/>
 		<typeAlias type="com.zpt.shop.main.entities.Percentage" alias="percentage"/>
 		<typeAlias type="com.zpt.shop.main.entities.Distribution" alias="distribution"/>
 		<typeAlias type="com.zpt.shop.main.entities.Evaluate" alias="evaluate"/>
 		<typeAlias type="com.zpt.shop.main.mapper.GoodsImagesMapper" alias="goodsImages"/>
 		<typeAlias type="com.zpt.shop.common.pojo.Query" alias="query"/>
 	</typeAliases>
</configuration>
