<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpt.shop.main.mapper.CartMapper">

	<!-- ********** ResultMap ********** -->
	<resultMap type="cart" id="resultMap">
		<id property="id" column="id" />
		<result property="userId" column="userId" />		
		<result property="skuId" column="skuId" />	
		<result property="num" column="num" />
		<result property="price" column="price" />
		<result property="totalprice" column="totalprice" />
		<result property="goodsId" column="goodsId" />	
		<result property="name" column="name" />
		<result property="url" column="url" />	
		<result property="skuNum" column="skuNum" />	
		<result property="value" column="value" />				
	</resultMap>
	
	<insert id="addGoodsIntoCart">
		insert into t_cart (userId, skuId, num, price, totalprice) 
		values (#{userId}, #{skuId}, #{num}, #{price}, #{totalprice})
	</insert>
	
	<select id="selectAmount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(id) from t_cart where userid = #{userId}
	</select>
	
	<select id="getCartInfo" resultMap="resultMap" parameterType="java.lang.String">
		select cart.*, t.goodsId, t.name, t.url, t.skuNum, t.value from t_cart as cart
		left join (select goods.id as goodsid, goods.name as name, sku.num as skuNum, val.val as value, val.skuid as skuid, img.url from t_goods_sku as sku
		left join t_goods as goods on sku.goodsid = goods.id
		left join t_goods_image as img on sku.id = img.skuid
		left join (select skuid, GROUP_CONCAT(value) as val from t_goods_pro_val group by skuid) as val on sku.id = val.skuid) as t
		on cart.skuid = t.skuid where cart.userid = #{userId}
	</select>
	
	<delete id="deleteCartInfo">
		delete from t_cart where id in (${cartIds})	
	</delete>
	
	<select id="selectCart" resultMap="resultMap">
		select * from t_cart where userid = #{userId} and skuid = #{skuId}
	</select>
	
	<update id="updateGoodsIntoCart">
		update t_cart set 
		num = #{num}, price = #{price}, totalprice = #{totalprice}
		where userid = #{userId} and skuid = #{skuId}
	</update>
	
	<update id="modifyGoodsIntoCart">
		update t_cart set 
		skuid = #{skuId},
		num = #{num},
		price = #{price},
		totalprice = #{totalprice}
		where id = #{cartId}
	</update>
	
	<select id="getCartByCartIds" resultMap="resultMap">
	    select cart.*, t.goodsId, t.name, t.url, t.skuNum, t.value from t_cart as cart
		left join (select goods.id as goodsid, goods.name as name, sku.num as skuNum, val.val as value, val.skuid as skuid, img.url from t_goods_sku as sku
		left join t_goods as goods on sku.goodsid = goods.id
		left join t_goods_image as img on sku.id = img.skuid
		left join (select skuid, GROUP_CONCAT(value) as val from t_goods_pro_val group by skuid) as val on sku.id = val.skuid) as t
		on cart.skuid = t.skuid where cart.userid = #{userId} and cart.id in (${cartIds})
	</select>
	
	<select id="getCartByCartIdsAndUserId" resultMap="resultMap">
	   select * from t_cart where id in (${cartIds}) and userId = #{userId}
	</select>

</mapper>
