<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpt.shop.main.mapper.CommonMapper">
	<sql id="beginSplitPage">SELECT page.* FROM (</sql>
	<sql id="endSplitPage">
		)page 
			<if test="orderName != null and orderName != ''">
				order by ${orderName} ${orderDir}
			</if>
		LIMIT #{start},#{length}
	</sql>
</mapper>
