<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpt.shop.main.mapper.SkuMapper">

	<!-- ********** ResultMap ********** -->
	<resultMap type="sku" id="resultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />			
		<result property="num" column="num" />			
		<result property="price" column="price" />			
		<result property="goodsId" column="goodsId" />			
		<result property="code" column="code" />
		<result property="value" column="value" />
		<result property="ids" column="ids" />		
		<result property="url" column="url" />	
	</resultMap>
	
	
	<sql id="queryCondition">
		where 1 = 1		
		<if test="obj.code != null and obj.code != ''">
			and sku.code like CONCAT('%',#{obj.code},'%')			
		</if>
		<if test="obj.goodsId != null and obj.goodsId != ''">
			and sku.goodsId like CONCAT('%',#{obj.goodsId},'%')			
		</if>
		<if test="search != null and search != ''">
			and (sku.code like CONCAT('%',#{search},'%') or
				sku.num like CONCAT('%',#{search},'%') or
				sku.price like CONCAT('%',#{search},'%') or
				goods.name like CONCAT('%',#{search},'%'))
		</if>					
	</sql>
	
	<sql id="validateCondition">
		where 1 = 1
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
		<if test="code != null and code != ''">
			and code = #{code}
		</if>
														
	</sql>	
		
	<select id="listSku" resultMap="resultMap" parameterType="query">
		<include refid="com.zpt.shop.main.mapper.CommonMapper.beginSplitPage"/>
		select sku.id as id,sku.num as num,sku.price as price,sku.code as code,
		goods.name as name,t.ids as ids,t.value as value,image.url as url
		from t_goods_sku as sku 
		left join t_goods as goods on sku.goodsId = goods.id 
		left join t_goods_image as image on sku.id = image.skuid
		left join (select pro_val.skuId,group_concat(pro_val.value SEPARATOR '|#$%|') as value,
		group_concat(pro_val.id) as ids from t_goods_pro_val as pro_val group by pro_val.skuId) 
		as t on t.skuid = sku.id		
		<include refid="queryCondition"/>
		order by id desc
		<include refid="com.zpt.shop.main.mapper.CommonMapper.endSplitPage"/>
	</select>
	
	<select id="countSku" resultType="java.lang.Integer" parameterType="query">
		select count(sku.id) from t_goods_sku as sku left join t_goods as goods on 
		sku.goodsId = goods.id
		<include refid="queryCondition"/>
	</select>
	
	<select id="validate" resultMap="resultMap" parameterType="sku">
		select * from t_goods_sku
		<include refid="validateCondition"/>
	</select>
		
	<insert id="insertSku" parameterType="sku" useGeneratedKeys="true" keyProperty="id">
		insert into t_goods_sku(num,price,code,goodsId) values(#{num},#{price},#{code},#{goodsId})
	</insert>
	
	<update id="updateSku" parameterType="sku">
		update t_goods_sku set price = #{price},goodsId = #{goodsId},code = #{code} where id = #{id}
	</update>
	<update id="updateStock" parameterType="sku">
		update t_goods_sku set num = (#{num}+t_goods_sku.num) where id = #{id}
	</update>
	
	<select id="getGoodsStockInfo" resultMap="resultMap">
		select t.*, img.url from 
		(select sku.id as id, sku.num, sku.price, sku.goodsid, val.val as value, pro.name, pro.typeid from 
		(select *, GROUP_CONCAT(value) as val from t_goods_pro_val GROUP BY skuid) as val 
		left join t_goods_pro as pro on val.proid = pro.id
		left join t_goods_sku as sku on val.skuid = sku.id) as t 
		left join t_goods_image as img
		on t.id = img.skuid where t.goodsid = #{goodsId} and t.num &gt; 0
	</select>

</mapper>
