<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpt.shop.main.mapper.SystemMapper">

	<!-- ********** ResultMap ********** -->
	<resultMap type="system" id="resultMap">
		<id property="id" column="id" />
		<result property="skey" column="skey" />		
		<result property="sysvalue" column="sysvalue" />								
	</resultMap>
	
	
	<sql id="queryCondition">
		where 1 = 1 and sys.skey = '公告'
		<if test="obj.skey != null and obj.skey != ''">
			and sys.skey like CONCAT('%',#{obj.skey},'%')
		</if>
		<if test="obj.sysvalue != null and obj.sysvalue != ''">
			and sys.sysvalue like CONCAT('%',#{obj.sysvalue},'%')
		</if>
		<if test="search != null and search != ''">
			and (sys.skey like CONCAT('%',#{search},'%') or
			sys.sysvalue like CONCAT('%',#{search},'%'))
		</if>	
	</sql>
	
	<sql id="validateCondition">
		where 1 = 1
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
	</sql>	
		
	<select id="listSystem" resultMap="resultMap" parameterType="query">
		<include refid="com.zpt.shop.main.mapper.CommonMapper.beginSplitPage"/>
		select sys.id as id,sys.skey as skey,sys.sysvalue as sysvalue
		from t_system as sys		
		<include refid="queryCondition"/>
		<include refid="com.zpt.shop.main.mapper.CommonMapper.endSplitPage"/>
	</select>
	
	<select id="countSystem" resultType="java.lang.Integer" parameterType="query">
		select count(sys.id) from t_system as sys
		<include refid="queryCondition"/>
	</select>	
	
	<select id="validate" resultMap="resultMap" parameterType="system">
		select * from t_system
		<include refid="validateCondition"/>
	</select>
	
	<select id="suserDefined" resultMap="resultMap">
		select sysvalue from t_system where skey = 'menu'
	</select>
	
	<select id="getNotice" resultType="java.lang.String">
		select sysvalue from t_system where skey = '公告'
	</select>
	
	<select id="getSummary" resultType="java.lang.String">
		select sysvalue from t_system where skey = '简介'
	</select>

	<update id="updateSystem" parameterType="system">
		update t_system set sysvalue = #{sysvalue} where skey = '公告'
	</update>
	
	<update id="updateDefined" parameterType="system">
		update t_system set sysvalue = #{sysvalue} where skey = 'menu'
	</update>
</mapper>
