<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpt.shop.main.mapper.UserMapper">

	<!-- ********** ResultMap ********** -->
	<resultMap type="user" id="resultMap">
		<id property="id" column="id" />
		<result property="openid" column="openid" />
		<result property="regtime" column="regtime" />
		<result property="pid" column="pid" />
		<result property="money" column="money" />
	</resultMap>
	
	<sql id="queryCondition">
		where 1 = 1
		<if test="obj.openid != null and obj.openid != ''">
			and openid like CONCAT('%',#{obj.openid},'%')
		</if>
		<if test="obj.money != null and obj.money != ''">
			and money like CONCAT('%',#{obj.money},'%')
		</if>
		<if test="obj.id != null and obj.id != ''">
			and pid = #{obj.id}
		</if>
		<if test="search != null and search != ''">
			and (money like CONCAT('%',#{obj.search},'%') or
			openid like CONCAT('%',#{obj.search},'%'))
		</if>
	</sql>
	
	<select id="listUser" resultMap="resultMap" parameterType="query">
		<include refid="com.zpt.shop.main.mapper.CommonMapper.beginSplitPage"/>
		select * from t_user 
		<include refid="queryCondition"/>
		order by id desc
		<include refid="com.zpt.shop.main.mapper.CommonMapper.endSplitPage"/>
	</select>
	
	<select id="countUser" resultType="java.lang.Integer" parameterType="query">
		select count(id) from t_user
		<include refid="queryCondition"/>
	</select>

	<select id="gerUserId" resultMap="resultMap">
		select * from t_user where id=#{id}
	</select>
	
	<select id="getAgentInfoByMyId" resultMap="resultMap">
		select a.id as id, b.id as pid from 
		(select * from t_user where pid = #{userId}) as a
		left join t_user as b
		on a.id = b.pid 
	</select>
	
	<select id="getUserByOpenId" resultMap="resultMap">
		select * from t_user where openid = #{openId} 
	</select>
	
	<insert id="addUser">
		insert into t_user (openid, regtime, pid, money) 
		values (#{openId}, #{regtime}, #{pid}, #{money})
	</insert>
	
	<select id="getAgentInfoByIds" resultMap="resultMap">
		select * from t_user where id in (${ids})
	</select>
	
	<update id="updateUserByScan" parameterType="user">
		update t_user set fpid = #{fpid} where openid = #{openid}
	</update>
	
	<insert id="addUserByScan">
		insert into t_user (openid, fpid, money) 
		values (#{openId}, #{fpid}, #{money})
	</insert>
	
	<select id="getUserByUserId" resultMap="resultMap">
		select * from t_user where id = #{userId}
	</select>
	
	<update id="updateMoney">
		update t_user set money = #{money} where id = #{id}
	</update>
	
</mapper>
