<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zpt.shop.main.mapper.UserMapper">

	<!-- ********** ResultMap ********** -->
	<resultMap type="user" id="resultMap">
		<id property="id" column="id" />
		<result property="openid" column="openid" />
		<result property="regtime" column="regtime" />
		<result property="pid" column="pid" />
		<result property="money" column="money" />
	</resultMap>
	
	<sql id="queryCondition">
		where 1 = 1
		<if test="obj.openid != null and obj.openid != ''">
			and openid like CONCAT('%',#{obj.openid},'%')
		</if>
		<if test="obj.money != null and obj.money != ''">
			and money like CONCAT('%',#{obj.money},'%')
		</if>
		<if test="obj.id != null and obj.id != ''">
			and pid = #{obj.id}
		</if>
		<if test="search != null and search != ''">
			and (money like CONCAT('%',#{obj.search},'%') or
			openid like CONCAT('%',#{obj.search},'%'))
		</if>
	</sql>
	
	<select id="listUser" resultMap="resultMap" parameterType="query">
		<include refid="com.zpt.shop.main.mapper.CommonMapper.beginSplitPage"/>
		select * from t_user
		<include refid="queryCondition"/>
		<include refid="com.zpt.shop.main.mapper.CommonMapper.endSplitPage"/>
	</select>
	
	<select id="countUser" resultType="java.lang.Integer" parameterType="query">
		select count(id) from t_user
		<include refid="queryCondition"/>
	</select>

	<select id="gerUserId" resultMap="resultMap">
		select * from t_user where id=#{id}
	</select>
	
</mapper>
