<!--商品类别-->
<ion-view>
	<ion-content scroll="false" style="background-color: #F4F5F7;">
		<ul class="commodity-category">
		    <li class="active"><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		    <li><i>推荐分类</i></li>
		</ul>
		<div class="commodity-details">
			<div class="mb10 clearfix">
				<p>厨房小电</p>
				<ul>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
				</ul>
			</div>
			<div class="mb10 clearfix">
				<p>厨房小电</p>
				<ul>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
				</ul>
			</div>
			<div class="mb10 clearfix">
				<p>厨房小电</p>
				<ul>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
				</ul>
			</div>
			<div class="mb10 clearfix">
				<p>厨房小电</p>
				<ul>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
					<li class="commodity-show">
						<img src="img/slide-img2.jpg" />
						<span>料理机</span>
					</li>
				</ul>
			</div>
		</div>
	 </ion-content>
</ion-view>