<ion-view style="background-color: #F2F2F2;">
    <ion-content>
  		<div class="member-info mb15 bcfff">
  			<div class="member-info-detail">
  				<img src="img/commodity-img.jpg" />
  				<p><span>微信名</span><span>ID:55122</span></p>
  				<p>会员：我还不是代言人</p>
  				<a class="fcfff">点击链接成为会员</a>
  				<a class="fcfff" ng-href="#/memberInfo"><i class="ion-gear-a set-up"></i></a>
  			</div>
  			<p class="p10 mv0" style="text-align: center">订单详情</p>
  		</div>
		<div class="order-detail mh10">
	    	<ul>
	    		<li>
	    			<span class="col-25">订单编号：</span>
	    			<span class="col-75">20161020102213</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单金额：</span>
	    			<span class="col-75">399元</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单时间：</span>
	    			<span class="col-75">2016-10-20 10:22:13</span>
	    		</li>
	    		<li>
	    			<span class="col-25">支付状态：</span>
	    			<a class="col-75" ng-href="#/pay">去支付</a>（已经支付？）
	    		</li>   		
	    		<li>
	    			<span class="col-25">订单状态：</span>
	    			<span class="col-75">未发货</span>
	    		</li>
	    		<li>
	    			<span class="col-25">商品名称：</span>
	    			<span class="col-75">TG-裙裙裙裙裙（XHQ132045）</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单详情：</span>
	    			<span class="col-75">S</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递公司：</span>
	    			<span class="col-75">圆通</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递单号：</span>
	    			<span class="col-75">121222112121</span>
	    		</li>
	    		<li>
	    			<span class="col-25">剩余支付时间：</span>
	    			<span class="col-75">10:00</span>
	    		</li>
	    	</ul>
    	</div>
    	<div class="order-detail mh10">
	    	<ul>
	    		<li>
	    			<span class="col-25">订单编号：</span>
	    			<span class="col-75">20161020102213</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单金额：</span>
	    			<span class="col-75">399元</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单时间：</span>
	    			<span class="col-75">2016-10-20 10:22:13</span>
	    		</li>
	    		<li>
	    			<span class="col-25">支付状态：</span>
	    			<a class="col-75" ng-href="#/pay">去支付</a>（已经支付？）
	    		</li>   		
	    		<li>
	    			<span class="col-25">订单状态：</span>
	    			<span class="col-75">未发货</span>
	    		</li>
	    		<li>
	    			<span class="col-25">商品名称：</span>
	    			<span class="col-75">TG-裙裙裙裙裙（XHQ132045）</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单详情：</span>
	    			<span class="col-75">S</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递公司：</span>
	    			<span class="col-75">圆通</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递单号：</span>
	    			<span class="col-75">121222112121</span>
	    		</li>
	    		<li>
	    			<span class="col-25">剩余支付时间：</span>
	    			<span class="col-75">10:00</span>
	    		</li>
	    	</ul>
    	</div>
    </ion-content>
</ion-view>
