<ion-view style="background-color: #F2F2F2;">
    <ion-content>
  		<div class="member-info mb15 bcfff">
  			<div class="member-info-detail">
  				<img src="img/commodity-img.jpg" />
  				<p><span>微信名</span><span>ID:55122</span></p>
  				<p>会员：我还不是代言人</p>
  				<a class="fcfff">点击链接成为会员</a>
  				<a class="fcfff" ng-href="#/memberInfo"><i class="ion-gear-a set-up"></i></a>
  			</div>
  			<p class="p10 mv0">提现信息</p>
  			<div class="p10">
  			    <label>提现金额：</label>
  				<input class="withdrawals-money" placeholder="0.00" />
  			</div>
  			<button class="btn">确定提交</button>
  		</div>
  		<table class="member-withdrawals bcfff">
  			<thead class="border-bot">
                <tr>
                    <th>编号</th>
				    <th>金额</th>
				    <th>状态</th>
                </tr>
            </thead>
            <tbody>
       			<tr>
				    <td>12121</td>
				    <td>0.00</td>
				    <td>已经</td>
		  		</tr>
            </tbody>
		</table>
    </ion-content>
</ion-view>
