<ion-view style="background-color: #F2F2F2;">
    <ion-content>
  		<div class="member-info mb15 bcfff">
  			<div class="member-info-detail">
  				<img src="img/commodity-img.jpg" />
  				<p><span>微信名</span><span>ID:55122</span></p>
  				<p>会员：我还不是代言人</p>
  				<a class="fcfff">点击链接成为会员</a>
  				<a class="fcfff" ng-href="#/memberInfo"><i class="ion-gear-a set-up"></i></a>
  			</div>
  			<p class="p10 mv0" style="text-align: center">用户信息</p>
  			<ul class="info-edit p10">
  			  	<li>
	  			    <label for="account">登录账号：</label>
	  				<input id="account" />
	  			</li>
	  			<li>
	  			    <label for="password">密码：</label>
	  				<input id="password" />
	  			</li>
	  			<li>
	  				<button class="button button-assertive">确定提交</button>
	  			</li>
  			</ul>
  		</div>
    </ion-content>
</ion-view>
