<ion-view style="background-color: #F2F2F2;">
    <ion-content>
  		<div class="member-info mb15 bcfff">
  			<div class="member-info-detail">
  				<img src="img/commodity-img.jpg" />
  				<p><span>微信名</span><span>ID:55122</span></p>
  				<p>会员：我还不是代言人</p>
  				<a class="fcfff">点击链接成为会员</a>
  				<a class="fcfff" ng-href="#/memberInfo"><i class="ion-gear-a set-up"></i></a>
  			</div>
  			<p class="p10 mv0" style="text-align: center">我是代言人：一级代言人（0）人</p>
  		</div>
		<div class="p10">
			<input class="member-id" placeholder="请输入会员ID" />
			<button class="member-search">搜索</button>
		</div>
    </ion-content>
</ion-view>
