<!--公告-->
<ion-view>
  <ion-content class="padding">
    <h2>公告</h2>
    <h4 class="fc444">2016-09-28</h4>
    <div class="notice">
    	<div class="item item-icon-left item-icon-right">
    		<i class="icon ion-record"></i><i class="icon ion-record"></i>
    	</div>
    	<div class="notice-content">home以下实例中，默认为100%宽度（左右两侧没有边框），并使用 placeholder 属性设置输入字段预期值的提示信息。 当用户开始输入的时候Placeholder 标签就会隐藏掉, 注意正确使用的多行输入.</div>
    	<div class="item item-icon-left item-icon-right">
    		<i class="icon ion-record"></i><i class="icon ion-record"></i>
    	</div>
    </div>
  </ion-content>
</ion-view>