<!--支付-->
<ion-view style="background-color: #F2F2F2;">
	<ion-header-bar align-title="left" class="bar-light">
	    <h3 class="title mh0 ph10"><span class="title-span"></span>订单详情</h3>
	</ion-header-bar>
    <ion-content class="padding">
    	<div class="order-pay-info">
    		<h4 class="pay-info-header">收货人信息</h4>
    		<ul class="ph10">
    			<li><span>联系人：</span><span>联系人</span></li>
    			<li><span>联系电话：</span><span>15451515151</span></li>
    			<li><span>联系地址：</span><span>福建福建</span></li>
    		</ul>
    	</div>
    	<div class="order-pay-info">
    		<h4 class="pay-info-header">产品信息</h4>
    		<div class="list mv5 ph10">
	    		<div class="item item-thumbnail-left item-icon-right">
			        <img src="img/commodity-img.jpg">
		      		<h2>商品名称商品名称商品名称商品名称商品名称</h2>
		      		<p>商品规格:<span>S</span></p>
		      		<div><p class="fl">￥399</p><p class="fr">x1</p></div>     
			    </div>
    		</div>
    		<div class="list mv5 ph10">
	    		<div class="item item-thumbnail-left item-icon-right">
			        <img src="img/commodity-img.jpg">
		      		<h2>商品名称商品名称商品名称商品名称商品名称</h2>
		      		<p>商品规格:<span>S</span></p>
		      		<div><p class="fl">￥399</p><p class="fr">x1</p></div>     
			    </div>
    		</div>
    		<p style="color: red; text-align: center;">购物合计总金额:399元</p>
    	</div>
    	<button class="button button-full button-balanced">微信支付</button>
    </ion-content>
</ion-view>