<!--订单详情-->
<ion-view style="background-color: #F2F2F2;">
    <ion-header-bar align-title="left" class="bar-light">   	
    	<h3 class="title mh0 ph10"><span class="title-span"></span>订单详情</h3>
	    <div class="buttons">
	        <a class="button button-clear button-dark fcD19E6B" ng-href="#/pay">	        	
	        	<i class="icon-erweima1"></i>
	        	获取推广二维码
	      	</a>
	    </div>	    
	</ion-header-bar>
    <ion-content class="padding">
    	<div class="order-detail">
	    	<ul>
	    		<li>
	    			<span class="col-25">订单编号：</span>
	    			<span class="col-75">20161020102213</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单金额：</span>
	    			<span class="col-75">399元</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单时间：</span>
	    			<span class="col-75">2016-10-20 10:22:13</span>
	    		</li>
	    		<li>
	    			<span class="col-25">支付状态：</span>
	    			<a class="col-75" ng-href="#/pay">去支付</a>（已经支付？）
	    		</li>   		
	    		<li>
	    			<span class="col-25">订单状态：</span>
	    			<span class="col-75">未发货</span>
	    		</li>
	    		<li>
	    			<span class="col-25">商品名称：</span>
	    			<span class="col-75">TG-裙裙裙裙裙（XHQ132045）</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单详情：</span>
	    			<span class="col-75">S</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递公司：</span>
	    			<span class="col-75">圆通</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递单号：</span>
	    			<span class="col-75">121222112121</span>
	    		</li>
	    		<li>
	    			<span class="col-25">剩余支付时间：</span>
	    			<span class="col-75">10:00</span>
	    		</li>
	    	</ul>
	    	<button class="button button-positive">取消订单</button>
    	</div>
    	<div class="order-detail">
	    	<ul>
	    		<li>
	    			<span class="col-25">订单编号：</span>
	    			<span class="col-75">20161020102213</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单金额：</span>
	    			<span class="col-75">399元</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单时间：</span>
	    			<span class="col-75">2016-10-20 10:22:13</span>
	    		</li>
	    		<li>
	    			<span class="col-25">支付状态：</span>
	    			<a class="col-75" ng-href="#/pay">去支付</a>（已经支付？）
	    		</li>   		
	    		<li>
	    			<span class="col-25">订单状态：</span>
	    			<span class="col-75">未发货</span>
	    		</li>
	    		<li>
	    			<span class="col-25">商品名称：</span>
	    			<span class="col-75">TG-裙裙裙裙裙（XHQ132045）</span>
	    		</li>
	    		<li>
	    			<span class="col-25">订单详情：</span>
	    			<span class="col-75">S</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递公司：</span>
	    			<span class="col-75">圆通</span>
	    		</li>
	    		<li>
	    			<span class="col-25">快递单号：</span>
	    			<span class="col-75">121222112121</span>
	    		</li>
	    		<li>
	    			<span class="col-25">剩余支付时间：</span>
	    			<span class="col-75">10:00</span>
	    		</li>
	    	</ul>
	    	<button class="button button-positive">取消订单</button>
    	</div>
    </ion-content>
</ion-view>
