<ion-view style="background-color: #F2F2F2;">
    <ion-content>
  		<div class="member-info mb15 bcfff">
  			<div class="member-info-detail">
  				<img src="img/commodity-img.jpg" />
  				<p><span>微信名</span><span>ID:55122</span></p>
  				<p>会员：我还不是代言人</p>
  				<a class="fcfff">点击链接成为会员</a>
  				<a class="fcfff" ng-href="#/memberInfo"><i class="ion-gear-a set-up"></i></a>
  			</div>
  			<p class="recommend-info">您是由[小黑裙SOIREE]推荐</p>
  			<ul class="member-reward row">
  				<li class="col-50"><span class="fcFEA977">0元</span><span>销售额</span></li>
  				<li class="col-50"><span class="fcFEA977">0元</span><span>我的奖励</span></li>
  			</ul>
  		</div>
  		<ul class="member-power">
  			<li class="item item-icon-left">
  				<i class="ion-plus"></i>我是代言人<span class="fr">0(0)</span>
  				<ul>
  					<li><a class="fc444" ng-href="#/spokesman">代言人<span class="fr fcFEA977">0(0)</span></a></li>
  				</ul>
  			</li>
  			<li class="item item-icon-left">
  				<i class="ion-plus"></i>代言人推广<span class="fr">0单(￥0)</span>
  				<ul>
  					<li><a class="fc444" ng-href="#/orderDetail">下单未购买<span class="fr fcFEA977">0(￥0)</span></a></li>
  					<li><a class="fc444" ng-href="#/orderDetail">下单已购买<span class="fr fcFEA977">0(￥0)</span></a></li>
  				</ul>
  			</li>
  			<li class="item item-icon-left">
  				<i class="ion-plus"></i>我的财富<span class="fr">￥0.00</span>
  				<ul>
  					<li>未付款订单财富<span class="fr fcFEA977">0</span></li>
  					<li>已付款订单财富<span class="fr fcFEA977">0</span></li>
  					<li>已收货订单财富<span class="fr fcFEA977">0</span></li>
  					<li>已完成订单财富<span class="fr fcFEA977">0</span></li>
  					<li>已提现财富<span class="fr fcFEA977">0</span></li>
  					<li>可提现财富<span class="fr fcFEA977">0</span></li>
  				</ul>
  			</li>  
  			<li class="item item-icon-left item-icon-right">
  				<a class="fc444" ng-href="#/withdrawals">
  					<i class="ion-plus"></i>申请提现
  					<em class="ion-chevron-right fr" style="line-height: 40px;"></em>
  				</a>
  			</li>
  		</ul>
    </ion-content>
</ion-view>
