<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="icon-shouyeshouye" icon-on="icon-shouyeshouye" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  
  <!-- 我的订单 Tab -->
  <ion-tab title="我的订单" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/dash">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>

  <!-- 会员中心 Tab -->
  <ion-tab title="会员中心" icon-off="icon-member" icon-on="icon-member" href="#/tab/member">
    <ion-nav-view name="product-details"></ion-nav-view>
  </ion-tab>

  <!-- 我的二维码 Tab -->
  <ion-tab title="我的二维码" icon-off="icon-erweima1" icon-on="icon-erweima1" ng-click="showModal()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
