select {
	    border: solid 1px #000;
	    appearance:none;
	    -moz-appearance:none;
	    -webkit-appearance:none;
	    padding-right: 14px;
	    background: url("../images/arrow.png") no-repeat scroll right center transparent;	
	}
select::-ms-expand { display: none; }

.dragcontainer{
	width:900px;
	height:auto
}
.draggable{
	top:0px;
	position:absolute;
	border: 1px solid #333;
	filter:alpha(opacity:30);
}

.draggable:hover{
	border : 1px solid #F0AD4E
}

.draggable>.header{
	height:10px;
	width:100%
}

.dragcontent{
	display: inline-table
}

.activite{
	border : 1px solid #F0AD4E
}

.imagediv{
	border : 1px solid #F0AD4E
}
.imagediv>.header{
	height:15px;
	border-bottom : 1px solid #F0AD4E
}